body {
  background-color: #222;
  color: #fff;
}

a, a:hover, a:active, a:visited {
  color: #0ff;
}

.sidebar {
  background-color: #050505;
  color: #fff;
}

.sidebar .nav li {
  color: #0ad;
}

.sidebar .nav li:hover {
  background-color: #000;
}

.post .post-header {
  color: #ff1000;
  border-bottom: 1px solid #ddd;
}

.sidebar .social img {
  border: 2px solid white;
}

.highlight pre {
  color: black;
}
